<div class="row agent_section">
    <div class="col-xs-12">
        <div class="box">
            {{#if agent_list}}
            <div class="box-header">
                <button class="btn btn-success pull-right" data-toggle="modal" data-target="#createAgent">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;
                    Create Agent
                </button>
            </div>
            {{/if}}
            <!-- /.box-header -->
            <div class="box-body">
                <table id="table_agent" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Agent</th>
                        <th>Parent Agent</th>
                        <th>Balance</th>
                        <th>players</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each agent_list}}
                        <tr>
                            <td align="left">{{code}}</td>
                            <td align="center">{{parent_id}}</td>
                            <td align="right">{{currency balance}}</td>
                            <td align="right">??</td>
                            <td align="center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning btn-sm {{#if suspend}}disabled{{/if}}">Action</button>
                                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle btn-dropdown-action" data-toggle="dropdown" data-code="{{code}}" data-balance="{{balance}}" data-parent_id="{{parent_id}}" data-layer="{{layer}}" data-suspend="{{suspend}}">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style="left:-90px;">
                                      {{#if suspend}}
                                          <li><a href="#" class="set-wake-up"><i class="fa glyphicon-repeat" aria-hidden="true"></i> Suspend</a></li>
                                      {{else}}
                                          <li><a href="#" class="credit-to"><i class="fa fa-plus" aria-hidden="true"></i> Credit</a></li>
                                          <li><a href="#" class="debit-to"><i class="fa fa-minus" aria-hidden="true"></i> Debit</a></li>
                                          <li class="divider"></li>
                                          <li><a href="#"><i class="fa fa-history" aria-hidden="true"></i> Balance History</a></li>
                                          <li class="divider"></li>
                                          <li><a href="#" class="set-agent-password"><i class="fa fa-key" aria-hidden="true"></i>Change Password</a></li>
                                          <!--<li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Edit info.</a></li>-->
                                          <li class="divider"></li>
                                          <li><a href="#" class="set-suspend"><i class="fa fa-ban" aria-hidden="true"></i> Suspend</a></li>
                                      {{/if}}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Agent</th>
                        <th>Parent Agent</th>
                        <th>Balance</th>
                        <th>players</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<input type="hidden" id="my_current_balance" value="{{loggedIn.balance}}">

{{>modal_agent_create}}
{{>modal_agent_change_password}}
{{>modal_credit_to}}
{{>modal_debit_to}}



