<div class="row player_section">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">


                    <input type="text" class="form-control nickname pull-left" name="nickname" placeholder="Username/Nickname" />
                    <button class="btn-default btn pull-left btn_search" style="margin-right: 10px;">
                      <i class="fa fa-search"></i>
                    </button>


                <span class="pull-left selectbox" style="margin-right: 10px;">
                    <select class="form-control select2 realSelectBox">
                        <option selected="selected">Any Agent</option>
                        <option>A2A</option>
                        <option>A2P</option>
                        <option>Reconciliation</option>
                        <option>Promotion</option>
                        <option>Rakeback/Cashback</option>
                        <option>ETC.</option>
                    </select>
                </span>
                <span class="pull-left">
                    <button type="button" class="btn btn-white pull-right" id="daterange-btn">
                        <span class="filter_date">{{#if date}}{{date}}{{else}}Any Signup Date{{/if}}</span>&nbsp;&nbsp;<i class="fa fa-caret-down"></i>
                    </button>
                </span>

                <a href="/players" class="btn btn-info btn-clear"><i class="fa fa-eraser" aria-hidden="true"></i> Clear</a>

                <a href="#" class="btn btn-default pull-right btn_download_csv_player" download="agent_info.csv">
                    <i class="fa fa-download"></i>&nbsp;&nbsp; CSV
                </a>
                <a href="#" class="btn btn-success pull-right "  data-toggle="modal" data-target="#createPlayer" style="margin-right: 10px;">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp; Create Player
                </a>



            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="table_player" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Nickname</th>
                        <th>Balance</th>
                        <th>Agent</th>
                        <th>Signup_date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data}}
                        <tr data-ban="{{banned}}">
                            <td>{{user_id}}</td>
                            <td>{{nickname}}</td>
                            <td align="right">
                                <span {{#if (checkMinus this.balance)}}class="text-red"{{/if}}>{{currency this.balance}}</span>
                            </td>
                            <td align="center">{{market_code}}</td>
                            <td align="center">{{time signup_dt}}</td>
                            <td align="center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning btn-sm">Action</button>
                                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle btn-dropdown-action" data-toggle="dropdown" data-code="{{code}}" data-balance="{{balance}}" data-parent_id="{{parent_id}}" data-layer="{{layer}}" data-suspend="{{suspend}}">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style="left:-90px;">
                                        <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Credit</a></li>
                                        <li><a href="#"><i class="fa fa-minus" aria-hidden="true"></i> Debit</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="fa fa-history" aria-hidden="true"></i> Balance History</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#" class="set-agent-password"><i class="fa fa-key" aria-hidden="true"></i>Change Password</a></li>
                                        <!--<li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Edit info.</a></li>-->
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="fa fa-ban" aria-hidden="true"></i> Suspend</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Username</th>
                        <th>Nickname</th>
                        <th>Balance</th>
                        <th>Agent</th>
                        <th>Signup_date</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->



            {{>modal_player_create}}
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<!-- modal for create player -->

<!-- // modal for create player -->


