{{> header}}

<section id="checklist">
  {{{description}}}
  <div class="bootstrap-iso">
  {{#each contents}}
    <div class="alert alert-success" role="alert" data-id="{{checklist_id}}">
      <!--{{#if item_section }}
      <small>{{item_section}}</small><br>
      {{/if}}-->
      <strong>{{item_name}}</strong>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{#if sample}}
        {{#ifCond item_type '!==' 'write' }}
        <!-- btn-group-justified -->
        <div class="btn-group checklist-item" data-toggle="buttons" data-id="{{../checklist_id}}" data-type="{{../item_type}}">
          {{#each sample}}
          <label class="btn btn-default btn-lg">
          {{#if (isEquals ../item_type 'select')}}
            <input type="radio" name="sample-{{../../checklist_id}}" autocomplete="off" value="{{this}}"> {{this}}
          {{else if (isEquals ../../item_type 'choose')}}
            <input type="checkbox" name="sample-{{../../../checklist_id}}" autocomplete="off" value="{{this}}"> {{this}}
          {{/if}}
          </label>
          {{/each}}
          </div>
        {{/ifCond}}
        {{else}}
          <textarea cols="30" rows="5" class="checklist-item" data-id="{{../checklist_id}}" data-type="{{../item_type}}"></textarea>
        {{/if}}
      </div>
    </div>
  {{/each}}
  </div>
</section>

<br /><br /><br />

<!-- 모든 문제에 답을 넣어야 정답확인 버튼이 활성화된다.-->
<a href="#" id="btn_submit_answers" class="{{#if (isEquals prev_yn 0)}}blind{{/if}}">
  <div class="btn_play check_answers">
    <span class="ico ico_play"></span>
    <span class="txt">제출하기</span>
  </div>
</a>

<!-- 정답을 확인할 후에 다음으로 버튼이 활성화된다. -->
<a href="{{next_url}}" id="btn_play_next" class="blind"
    data-training-user-id="{{training_user_id}}"
    data-course-id="{{course_id}}"
    data-course-list-id="{{course_list_id}}"
    data-checklist-group-id="{{checklist_group_id}}"
>
  <div class="btn_play btn-orange">
    <span class="ico ico_play"></span>
    <span class="txt">다음으로</span>
  </div>
</a>