
{{> header}}

  <hr />

  <div class="evaluation_section endOfCourse">
    <h3 class="tit">수고하셨습니다.</h3>

    {{#if next_course}}
    <a href="{{next_course}}"
        id="btn_next_course"
        style="text-decoration: none;"
    >
    <div class="btn_submit btn-clr-orange next-course">
      <span class="txt">다음 강의 보기</span>
    </div>
    </a>
    {{/if}}

    <a href="{{root_url}}"
        id="btn_complete_course"
        style="text-decoration: none;"
        data-training-user-id="{{training_user_id}}"
        data-course-id="{{course_id}}"
        data-course-group-id="{{course_group_id}}"
    >
      <div class="btn_submit btn-clr-grey">
        <span class="txt">처음으로</span>
      </div>
    </a>

  </div>