{{> header}}

<span class="list_section">
  <ol>
    <li class="item_wrap">
      {{#if course.thumbnail}}
      <span class="list_item">
        <img src="/uploads/{{course.thumbnail}}" alt="" width="100" class="img_list" />
        {{else}}
        <span class="list_item no_img_list">
        {{/if}}
          <span class="info">
            <div class="progress-status">
              <div class="bootstrap-iso">
                {{#if (isEquals course.completed_rate 0)}}
                <span class="label label-default">미수강</span>
                {{else}}
                  {{#if (isEquals course.completed_rate 100)}}
                  <span class="label label-success">완료</span>
                  {{else}}
                  <span class="label label-warning">진행중</span>
                  {{/if}}
                {{/if}}
                <span class="pull-right author">
                  {{#if course.teacher_name}}<i class="fa fa-user-circle" aria-hidden="true"></i>{{/if}}
                  {{course.teacher_name}}
                </span>
                <div class="clearfix"></div>
              </div>
            </div>
            <span class="tit">{{ edu_name }} | {{course.course_name}}</span>
            <span class="progress_bg">
              <span class="progress" style="width: {{course.completed_rate}}%"></span>
            </span>
            <span class="achievement alignleft">
              {{#if course.course_end_dt}}
                {{stime course.course_end_dt}}
              {{else}}
                {{course.completed_rate}}%
              {{/if}}
            </span>
            <span class="author alignright">{{dateformat start_dt 'yy.m.d'}} ~ {{dateformat end_dt 'yy.m.d'}}</span>
            <div style="clear: both;"></div>
          </span>
        </span>
      </span>
    </li>
  </ol>
</div>

<hr />

<!-- 별평가 -->
<div class="eval_rate">
  <span class="bg_star"><span class="eval_star" style="width: {{course.course_rate}}%;"></span></span>
</div>

<!-- 설명 -->
<div class="course_info">
  <h3 class="tit">강의설명</h3>
  <span id="full_desc" style="display: none;">{{{course.desc}}}</span>
  <div class="desc">
    {{{truncate course.desc 120}}}
    {{#ifCond course.desc.length '>' 120}}
    <a href="#" class="btn_more">더보기</a>
    {{/ifCond}}
  </div>
</div>

<div class="divider"></div>

<!-- 커리큘럼 -->
<div class="curriculum">
  {{#if course_list}}
  <ol class="session">
    {{#each course_list}}
    <a href="/session/{{../training_user_id}}/{{../course.course_id}}/{{id}}" style="text-decoration: none;">
      <li class="sess_list{{#if (isEquals done 0)}} disabled{{/if}}">
        {{#if (isEquals type 'VIDEO')}}
        <span class="ico video"></span> {{/if}} {{#if (isEquals type 'QUIZ')}}
        <span class="ico quiz"></span> {{/if}} {{#if (isEquals type 'FINAL')}}
        <span class="ico quiz"></span> {{/if}} {{#if (isEquals type 'CHECKLIST')}}
        <span class="ico test"></span> {{/if}}
        <span class="txt ellipsis">{{title}}</span>
        <span class="ico {{#if (isEquals done 1)}}unlock{{else}}lock{{/if}}"></span>
      </li>
    </a>
    {{/each}}
  </ol>
  {{else}}
  <div class="evaluation_section">
    <h3 class="tit">세션이 존재하지 않습니다.</h3>
  </div>
  {{/if}}
</div>

<br /><br /><br />

<!-- 학습시작 -->
{{#ifCond course_list.length '>' 0 }}
<a href="/session/{{training_user_id}}/{{course.course_id}}/{{course_list_id}}" id="btn_play_next" data-training-user-id="{{training_user_id}}"
  data-course-id="{{course.course_id}}" style="text-decoration: none;">
  <div class="btn_play">
    <span class="ico ico_play"></span> {{#if (isEquals course.completed_rate 0)}}
    <span class="txt start">학습하기</span> {{else}} {{#if (isEquals course.completed_rate 100)}}
    <span class="txt repeat">반복하기</span> {{else}}
    <span class="txt continue">이어하기</span> {{/if}} {{/if}}
  </div>
</a>
{{/ifCond}}