{{> header}}

{{#ifCond (isEquals group_path 'education') '&&' (isEquals current_path 'passed') }}
<div class="search_section">
  <div class="not-select">
    <div class="radio">
      <label>
        <input type="radio"
          name="optradio"
          id="radio-course-title"
          checked="true">  강의명
        </label>
    </div>
    <input
      type="search"
      name="course-title" id="inputCourse"
      placeholder="강의명을 입력하세요"
      class="search_section_input"
      autofocus autocomplete="off"
    />
  </div>
  <br />
  <div class="radio">
    <label>
      <input type="radio"
        name="optradio"
        id="radio-assign-month">
        기간별
      </label>
  </div>
  <select name="assign-month" id="selectAssignMonth" class="">
    {{#each month_list}}
    <option value="{{yearmonth}}">{{yearmonth}}</option>
    {{/each}}
  </select>
  <br /><br />
  <button type="button" class="btn_login" id="btnSearchCourse" data-redirect="/education/{{current_path}}">검색</button>
</div>
{{/ifCond}}

<div class="list_section">
  {{#if courses}}
	<ol>
	{{#each courses}}
    {{#if (isEquals ../current_path 'passed')}}
    <li class="item_wrap">
      {{#ifCond can_replay '==' 1}}
      {{#if thumbnail}}
      <a href="/course/{{training_user_id}}/{{course_id}}" class="list_item">
      <img src="/uploads/{{thumbnail}}" alt="" width="100" class="img_list" />
      {{else}}
      <a href="/course/{{training_user_id}}/{{course_id}}" class="list_item no_img_list">
      {{/if}}
      {{else}}
      {{#if thumbnail}}
      <a href="#" class="list_item not-active">
      <img src="/uploads/{{thumbnail}}" alt="" width="100" class="img_list" />
      {{else}}
      <a href="#" class="list_item no_img_list not-active">
      {{/if}}
      {{/ifCond}}
      <span class="info">
        {{#ifCond can_replay '==' 1}}
        <span class="tit">{{ edu_name }} | {{course_name}}</span>
        {{else}}
        <span class="tit text-red">{{ edu_name }} | {{course_name}}</span>
        {{/ifCond}}
        <span class="author">{{teacher_name }}</span>
        <span class="progress_bg">
          <span class="progress" style="width: {{completed_rate}}%"></span>
        </span>
        <span class="achievement">{{completed_rate}}% {{#if course_end_dt}}({{ stime course_end_dt}} 완료){{/if}}</span>
        <span class="author">{{start_dt}} ~ {{end_dt}}</span>
      </span>
      </a>
    </li>
    {{else}}
    <li class="item_wrap">
      {{#if thumbnail}}
      <a href="/course/{{training_user_id}}/{{course_id}}" class="list_item">
      <img src="/uploads/{{thumbnail}}" alt="" width="100" class="img_list" />
      {{else}}
      <a href="/course/{{training_user_id}}/{{course_id}}" class="list_item no_img_list">
      {{/if}}
      {{#if thumbnail}}
      <img src="/uploads/{{thumbnail}}" alt="" width="100" class="img_list" />
      {{/if}}
      <span class="info">
        <span class="tit">{{ edu_name }} | {{course_name}}</span>
        <span class="author">{{teacher_name }}</span>
        <span class="progress_bg">
          <span class="progress" style="width: {{completed_rate}}%"></span>
        </span>
        <span class="achievement">{{completed_rate}}% {{#if course_end_dt}}({{ stime course_end_dt}} 완료){{/if}}</span>
        <span class="author">{{start_dt}} ~ {{end_dt}}</span>
      </span>
      </a>
    </li>
    {{/if}}
	{{/each}}
	</ol>
  {{/if}}
</div>

<br /><br /><br />
{{#ifCond courses.length '>' 0}}
<a href="/course/{{next_training_user_id}}/{{next_course_id}}" style="text-decoration: none;">
	<div class="btn_play">
		<span class="ico ico_play"></span>
  {{#if (isEquals count_course_done 0)}}
    <span class="txt">학습하기</span>
  {{else}}
    {{#if (isEquals count_course_done courses.length)}}
		  <span class="txt">반복하기</span>
    {{else}}
      <span class="txt">이어하기</span>
    {{/if}}
  {{/if}}
	</div>
</a>
{{/ifCond}}

<!--{{> search}}-->
