{{> header}}

<div class="list_section">
  {{#if courses}}
	<ol>
	{{#each courses}}
		<li class="item_wrap">
				{{#if thumbnail}}
				<a href="/course/{{../../training_user_id}}/{{course_id}}" class="list_item">
				<img src="/uploads/{{thumbnail}}" alt="" width="100" class="img_list" />
				{{else}}
				<a href="/course/{{../../training_user_id}}/{{course_id}}" class="list_item no_img_list">
				{{/if}}
					<span class="info">
            <span class="tit">{{course_name}}</span>
						<span class="author">{{teacher_name }}</span>
						<span class="progress_bg">
							<span class="progress" style="width: {{completed_rate}}%"></span>
						</span>
						<span class="achievement">{{completed_rate}}% {{#if course_end_dt}}(완료일시 : {{ stime course_end_dt}}){{/if}}</span>
						<span class="author">{{start_dt}} ~ {{end_dt}}</span>
					</span>
				</a>
		</li>
	{{/each}}
	</ol>
  {{else}}
  <div class="evaluation_section">
    <h3 class="tit">{{header}}이 존재하지 않습니다.</h3>
  </div>
  {{/if}}
</div>

<br /><br /><br />
{{#ifCond courses.length '>' 0}}
<a href="/course/{{training_user_id}}/{{next_course_id}}" style="text-decoration: none;">
	<div class="btn_play">
		<span class="ico ico_play"></span>
    
  {{#if (isEquals count_course_done 0)}}
    <span class="txt">학습하기</span>
  {{else}}
    {{#if (isEquals count_course_done courses.length)}}
		  <span class="txt">반복하기</span>
    {{else}}
      <span class="txt">이어하기</span>
    {{/if}}
  {{/if}}
	</div>
</a>
{{/ifCond}}

