<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
    <link rel="stylesheet" href='/stylesheets/layout.css' />
    <link rel="stylesheet" href='/stylesheets/reset.css' />
    <link rel="stylesheet" href="/vendor/plugins/plyr/dist/plyr.css" />
    <link rel="stylesheet" href="/vendor/plugins/star-rating-svg/star-rating-svg.css" />
    <link rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css" />    

    <title>{{title}}</title>
</head>

<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false" class="body_bg_01">
   
  {{#if (isEquals current_path 'login')}}
      {{{body}}}
  {{else}}        
      {{> left_nav}}
      {{{body}}}
  {{/if}}

  <script src="{{host}}/vendor/plugins/requirejs/require.2.3.2.js"></script>  
  <script src="{{host}}/javascripts/app.js"></script>  

  {{#if (isEquals current_path 'login')}}
  <script src="./javascripts/login.js"></script>
  {{else}}
      
    {{!-- /edulist --}}
    {{#if (isEquals current_path 'education')}}          
    <script src="{{host}}/javascripts/left_nav.js"></script>            
    {{/if}}
    
    {{!-- /edulist/[course_id] --}}
    {{#if (isEquals current_path 'course') }} 
    <script src="{{host}}/javascripts/course.js"></script>
    {{/if}}

    {{!-- /edulist/[course_id]/[course_list_id] --}}
    {{#if (isEquals current_path 'quiz')}}
    <script src="{{host}}/javascripts/quiz.js"></script>
    {{/if}}

    {{#if (isEquals current_path 'video')}}
    <script src="{{host}}/javascripts/video.js"></script>
    {{/if}}    

    {{#if (isEquals current_path 'evaluate')}}
    <script src="{{host}}/javascripts/evaluate.js"></script>
    {{/if}}

    {{#if (isEquals current_path 'complete')}}
    <script src="{{host}}/javascripts/complete.js"></script>
    {{/if}}    

    {{#if (isEquals current_path 'profile')}}
    <script src="{{host}}/javascripts/profile.js"></script>
    {{/if}}        

  {{/if}}

</body>

</html>