{{> header}}

<div class="content">
  <div class="content-inside">
  {{#each contents}}
    <div class="quiz_select"
          data-quiz-type="{{quiz_type}}"
          data-quiz-id="{{quiz_id}}"
          data-quiz-answer="{{answer}}"
          data-iscorrect="0"
          data-answered=""
    >
      <strong class="question">{{order}}. {{question}}</strong>
      {{#ifCond (isEquals quiz_type 'B') '||' (isEquals quiz_type 'C') }}
      <ol class="selection option">
      {{#each options}}
        <li data-option-id="{{id}}" data-iscorrect="{{iscorrect}}">
          <a href="#" class="radio">
            <i class="input ico ico_unchecked"></i>
            <span class="quiz-label">{{option}}</span>
          </a>
        </li>
        <div class="clear"></div>
      {{/each}}
      </ol>
      <div id="alert" class="result_quiz blind">{{answer}}</div>
      {{else}}
      <div class="not-select">
        <input type="text" name="input_{{quiz_id}}" class="answer_quiz_input brd-round option" autocomplete="off" />
      </div>
      <div id="alert" class="result_quiz blind"></div>
      {{/ifCond}}
    </div>
  {{/each}}
  </div>
</div>

{{!-- <br /><br /><br /> --}}
</div>
</div>
<!-- 모든 문제에 답을 넣어야 정답확인 버튼이 활성화된다.-->
<footer class="footer">
  <a href="#" id="btn_check_answers" class="{{#if (isEquals prev_yn 0)}}blind{{/if}}">
    <div class="btn_play check_answers">
      <span class="ico ico_play"></span>
      <span class="txt">정답확인</span>
    </div>
  </a>

  <!-- 정답을 확인할 후에 다음으로 버튼이 활성화된다. -->
  <a href="{{next_url}}" id="btn_play_next" class="blind"
      data-training-user-id="{{training_user_id}}"
      data-course-id="{{course_id}}"
      data-course-list-id="{{course_list_id}}"
      data-course-list-type="{{course_list_type}}"
  >
    <div class="btn_play btn-orange">
      <span class="ico ico_play"></span>
      <span class="txt">다음으로</span>
    </div>
  </a>
</footer>


