
{{> page_header}}

  <form action="#" method="POST">
    
    <section id="quiz_section">
      {{#each contents}}
        <div class="quiz_select">
          <strong class="question">{{question}}</strong>
          {{#if option_id}}
          <ol class="selection option" data-quiz-id="{{id}}">
          {{#each quiz_options}}
            <li data-option-id="{{lookup ../quiz_option_ids @index}}">
              <a href="#" class="link">
                <i class="ico ico_unchecked"></i>
                <span class="answer">{{this}}</span>                
              </a>
            </li>
          {{/each}}
          </ol>
          <div id="alert_{{id}}" class="result_quiz blind"></div>
          {{else}}
          <div class="not-select">
            <input type="text" name="input_{{id}}" class="answer_quiz_input brd-round option" data-quiz-id="{{id}}"autocomplete="off" />
          </div>         
          <div id="alert_{{id}}" class="result_quiz blind"></div> 
          {{/if}}
        </div>
      {{/each}}      
    </section>  
    
  </form>

  <br /><br /><br />

	<!-- 모든 문제에 답을 넣어야 정답확인 버튼이 활성화된다.-->
  <a href="#" id="btn_check_answers" class="{{#if (isEquals prev_yn 0)}}blind{{/if}}">
    <div class="btn_play check_answers">
      <span class="ico ico_play"></span>
      <span class="txt">정답확인</span>
    </div>
  </a>
  
	<!-- 정답을 확인할 후에 다음으로 버튼이 활성화된다. -->
  <a href="{{next_url}}" id="btn_play_next" class="blind"
      data-training-user-id="{{training_user_id}}"
      data-course-id="{{course_id}}"
      data-course-list-id="{{course_list_id}}"  
  >
    <div class="btn_play btn-orange">
      <span class="ico ico_play"></span>
      <span class="txt">다음으로</span>
    </div>
  </a>

  