{{> page_header}}

<div class="terms">
  <div class="bootstrap-iso">
    <form role="form" method="post" action="/terms" autocomplete="off">
        <div class="form-group">
          <textarea class="form-control" id="terms" readonly="" rows="13" cols="100"
            style="overflow: hidden;"
          >
            {{content}}
          </textarea>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label for="agree">
              <input type="checkbox" name="agree" id="agree" required>
              위 서약내용도 모두 이해하였고, 내용에 동의합니다.
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="user-sign">{{logoName}} {{loggedIn.branch}} {{loggedIn.duty}}</label>
          <input type="text" class="form-control" id="user-sign" value="{{loggedIn.name}}" placeholder="서명" required>
        </div>
      <button type="submit" class="btn btn-default btn-lg btn-block">확인</button>
      <a href="/logout" class="btn btn-warning btn-lg btn-block">취소</a>
    </form>
  </div>
</div>