{{> header}}

<section id="video_section">
  <div id="videoplayer" class="centered" data-id="{{content.id}}" data-vimeo-id="{{content.url}}" data-total-play="{{total_played_seconds}}" class="">
    <!--<div class="js-player" data-type="{{content.video_type}}" data-video-id="{{content.url}}"></div>-->
    <!--<div class="js-player" data-type="vimeo" data-video-id="196277011"></div>--> 
    <!--<div class="js-player" data-type="youtube" data-video-id="TvkXHz6p7JM"></div>-->
  <div>
</section>

<!-- 다음으로 넘어갈 수 있을 조건이 충족될 경우 다음 아래의 버튼이 출력된다. -->

<a href="{{next_url}}">
  <div class="btn_play btn-orange blind"     
    data-training-user-id="{{training_user_id}}"
    data-course-id="{{course_id}}"
    data-course-list-id="{{course_list_id}}"  
  >
    <span class="ico ico_play"></span>
    <span class="txt">다음으로  <small class="wait-message"></small></span>   
    <span class="txt"></span>
  </div>  
</a>


