{{> header}}

<section id="video_section">
  <div class="videoplayer"
    id="videoplayer"
    data-id="{{content.id}}"
    data-vimeo-id="{{content.url}}"
    data-total-play="{{total_played_seconds}}"
    data-current-time="{{currenttime}}"
    data-vimeo-responsive="1"
    data-interval="{{setting.interval}}"
    data-wait-seconds="{{setting.waiting_seconds}}"
    data-passive-rate="{{setting.passive_rate}}"
    class="">
      <small class="text-red">
        &nbsp;* 비디오 재생시간의 {{setting.passive_rate}}% 이상 시청 시 다음 버튼 활성화<br>
        &nbsp;* 비디오 종료 후 {{setting.waiting_seconds}}초 이내에 다음 버튼 클릭
      </small>
      <br><br>
  <div>
</section>

<!-- 다음으로 넘어갈 수 있을 조건이 충족될 경우 다음 아래의 버튼이 출력된다. -->
<br /><br /><br />

<div class="bootstrap-iso timer blind" style="padding: 10px;">
  <div class="panel panel-danger lead">
    <div class="text-center panel-body" id="countdown">
      <div class="values"></div>
    </div>
  </div>
</div>

<!-- 모든 문제에 답을 넣어야 정답확인 버튼이 활성화된다.-->
<a href="#">
  <div id="btn_replay_video" class="btn_play btn-orange blind">
    <span class="ico ico_play"></span>
    <span class="txt">재시청하기</span>
  </div>
</a>

<a href="{{next_url}}">
  <div id="btn_play_next" class="btn_play btn-orange blind"
    data-training-user-id="{{training_user_id}}"
    data-course-id="{{course_id}}"
    data-course-list-id="{{course_list_id}}"
  >
    <span class="ico ico_play"></span>
    <span class="txt">다음으로</span>
  </div>
</a>


