{{> header}}

<section id="video_section">
  <!--class="centered" -->

  
  <div id="videoplayer" 
    data-id="{{content.id}}" 
    data-vimeo-id="{{content.url}}" 
    data-total-play="{{total_played_seconds}}" 
    data-current-time="{{currenttime}}"
    data-vimeo-responsive="1"
    data-interval="{{setting.interval}}"
    data-wait-seconds="{{setting.waiting_seconds}}"
    data-passive-rate="{{setting.passive_rate}}"
    class="centered">
      <small class="text-red">
        &nbsp;&nbsp;* 비디오 재생시간의 {{setting.passive_rate}}% 이상 시청 시 다음 버튼이 활성화 됩니다.<br>
        &nbsp;&nbsp;* 비디오 종료 후 {{setting.waiting_seconds}}초 이내에 다음 버튼을 클릭해주세요.
      </small>
      <br><br>
    <!--<div class="js-player" data-type="{{content.video_type}}" data-video-id="{{content.url}}"></div>-->
    <!--<div class="js-player" data-type="vimeo" data-video-id="196277011"></div>--> 
    <!--<div class="js-player" data-type="youtube" data-video-id="TvkXHz6p7JM"></div>-->
  <div>
</section>

<!-- 다음으로 넘어갈 수 있을 조건이 충족될 경우 다음 아래의 버튼이 출력된다. -->

<a href="{{next_url}}">
  <div class="btn_play btn-orange blind"     
    data-training-user-id="{{training_user_id}}"
    data-course-id="{{course_id}}"
    data-course-list-id="{{course_list_id}}"  
  >
    <span class="ico ico_play"></span>
    <span class="txt">다음으로  <small class="wait-message"></small></span>   
    <span class="txt"></span>
  </div>  
</a>


